:root{
    --about:#767676;
    --bg:#FFB400;
    --active:#7EB942;
}

*::first-letter {
  text-transform: uppercase;
}
.home-left {
    width: 20%;
    padding:25px;
    background-color: #FFF;
}

.home-right {
    width: 6%;
}

.home-mid {
    background-color: #F0F0F6;
    width: 76%;
}

.home-inner {
    display: flex;
    background-color: #FFF;
    padding-inline: 30px;
    margin-inline: 20px;
    position:relative;
}

.into-bg-icons{
    width:14px;
    height:14px;
    position:absolute;
}
#Ellipse1{
    left:20px;
    top:30px;
}
#Ellipse2{
    left:60px;
    bottom:40px;
}
#Ellipse3{
    left:450px;
    top:40px;
}
#Ellipse4{
    left:550px;
    bottom:40px;
}
#Ellipse5{
    right:50px;
    bottom:20px;
}
#Ellipse6{
    left:400px;
    top:250px;
    border:2px solid #0047FF;
    width:12px;
    height:12px;
    transform:rotate(45deg);
}
#Ellipse7{
    right:50px;
    top:20px;
    border:2px solid #FFB400;
    width:12px;
    height:12px;
    transform:rotate(45deg);
}

.h-m-div1 {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h-heading {
    font-size: 48px;
}

.h-about{
    color:#767676;
    font-size:14px;
    width:70%;
}

.h-fd {
    color: #FFB400;
}

.hire-btn {
    background-color: #FFB400;
    border-radius: 0px;
    margin-top: 30px;
    width:150px;
    gap:10px;
    border-radius:5px;
}

.navlinks {
    border-radius: 50% !important;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    /* background: #F0F0F6; */
    margin: 1rem 0;
}

.availableImg {
    position: absolute;
    width: 26px;
    bottom: 0px;
    right: 0px;
}

.profile-img{
    height:400px;
}
.leftArrow{
    margin-left:10px;
}
.services{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:100px;
}
.service-board{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin:25px;
}
.service-about{
    width:40%;
    text-align:center;
    margin:25px;
    color:#767676;
}
.service-card{
    padding:30px;
    background-color:#FFF;
    margin: 0px 0px 10px 10px;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.service-card-img{
    margin-bottom:20px;
}
.service-card-name{
    font-weight:bold;
    margin-bottom:10px;
}
.service-card-about{
    color:#767676;
    font-size:14px;
}
.order-now{
    color:#FFB400;
    font-size:16px;
    font-weight:500;
    display:flex;
    justify-content:center;
}
.right-arrow{
    height:25px;
}

.text-gray{
    color:var(--about);
}
.bg-yellow{
    background-color:var(--bg);
}
.date{
    background-color:var(--bg);
    color:white;
    padding:2px 5px;
    font-size:10px;
    margin-left:15px;
}

.homeLeft-about{
    margin-block:30px;
    padding-top:30px;
    font-size:14px;
    border-top:1px solid #F0F0F6;
}
.text-green{
    color:var(--active);
}

.home-left-language{
    margin-top:30px;
    border-top:1px solid #F0F0F6;
}

.home-left-language div{
    color: var(--about);
    font-size:14px;
}

.progress{
    border:1px solid #FFB400;
    padding:1px;
}
.progress-bar{
    background-color:var(--bg);
}

.extraSkill{
    gap:10px;
    margin-block:10px;
}

.download-btn{
    padding-top:30px;
}
.download-btn a{
    text-decoration:none;
}
.download-btn button{
    width:100%;
    border-radius:0px;
    font-size:14px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:500;
    gap:20px;
}

.profile-icons{
    display:flex;
    align-items:center;
    justify-content:center;
}
.profile-icons img{
    width:20px;
    height:20px;
    background-color:var(--bg);
    padding:4px;
    border-radius:50%;
}