:root {
  --primary: #4e2ac3;
  --about: #767676;
  --active: #7eb942;
}
.nav-link {
  color: black;
}
*::first-letter {
  text-transform: uppercase;
}
.all-pages {
  margin-top: 100px;
}
.home {
  background-color: #f0f0f6;
}
.home-left {
  width: 20%;
  padding: 25px;
  background-color: #fff;
  height: 100%;
}

.home-right {
  background-color: #fff;
  padding: 15px;
  border: 1px solid black;
}

.home-inner {
  display: flex;
  background-color: #fff;
  padding-inline: 120px;
  padding-top: 100px;
}

.into-bg-icons {
  width: 14px;
  height: 14px;
  position: absolute;
}
.into-highlighter {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  margin-top: -10px;
  margin-bottom: 15px;
}

.into-highlighter img {
  width: 60%;
}

.h-m-div1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.h-into {
  margin-left: 5px;
  font-weight: bold;
  margin-top: 5px;
  font-size: 18px;
}

.h-name {
  color: #367cf2;
}

.h-heading {
  font-size: 3.5rem;
}

.h-follow-me {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
  color: #666666;
}
.home-buttons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
}

.home-buttons a {
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.hire-btn {
  background-color: var(--primary);
  color: white;
}

.dowload-cv {
  color: black;
  border: 2px solid var(--primary);
}

.change-mode {
  margin-block: 20px;
  margin-bottom: 60px;
}
.navlinks {
  border-radius: 50% !important;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  background-color: #f0f0f6;
}
.active-icon {
  background-color: #ffb400;
}
.navlinks img {
  width: 18px;
  height: 18px;
}

.availableImg {
  position: absolute;
  width: 26px;
  bottom: 0px;
  right: 0px;
}

.h-m-div2 img {
  height: 470px;
  width: 470px;
  object-fit: cover;
}
.hire-btn img {
  margin-left: 10px;
}
.heading-highlighter {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.heading-highlighter div {
  width: 100px;
  height: 8px;
  background-color: #34d0d8;
  border-radius: 10px;
}
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.service-about {
  width: 60%;
  text-align: center;
  color: #767676;
  margin-top: 15px;
  margin-bottom: 40px;
}
.service-board {
  display: flex;
  margin-inline: 80px;
  gap: 10px;
  margin-bottom: 80px;
}

.service-board-left img {
  width: 600px;
}

.service-board-right {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
.service-card {
  width: 40%;
  margin-left: 40px;
}
.service-card-img {
  margin-bottom: 20px;
  border-radius: 5px;
}
.service-card-name {
  font-weight: 500;
  margin-bottom: 10px;
}
.service-card-about {
  color: #767676;
  font-size: 14px;
}
.order-now {
  color: #ffb400;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}
.right-arrow {
  height: 25px;
}

.text-gray {
  color: var(--about);
}
.bg-yellow {
  background-color: var(--primary);
}
.date {
  background-color: var(--primary);
  color: white;
  padding: 2px 5px;
  font-size: 10px;
  margin-left: 15px;
}

.homeLeft-about {
  margin-block: 30px;
  padding-top: 30px;
  font-size: 14px;
  border-top: 1px solid #f0f0f6;
}
.text-green {
  color: var(--active);
}

.home-left-language {
  margin-top: 30px;
  border-top: 1px solid #f0f0f6;
}

.home-left-language div {
  color: var(--about);
  font-size: 14px;
}

.progress {
  border: 1px solid #ffb400;
  padding: 1px;
}
.progress-bar {
  background-color: var(--primary);
}

.extraSkill {
  gap: 10px;
  margin-block: 10px;
}

.profile-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-icons img {
  width: 20px;
  height: 20px;
  background-color: var(--primary);
  padding: 4px;
  border-radius: 50%;
}

.price-board {
  gap: 20px;
}

.price-card {
  width: 30%;
  background-color: #fff;
  padding: 25px;
  padding-top: 60px;
  position: relative;
}
.price-name {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.price-about {
  text-align: center;
  color: #767676;
  font-size: 14px;
  margin-top: 5px;
}
.price-hour {
  font-size: 14px;
}

.popular-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.price-card-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.price-price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 10px;
}
.price-order-now {
  display: flex;
  justify-content: center;
}
.most-popular {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffb400;
  text-align: center;
  padding: 5px;
}
.order-now-btn {
  border-radius: 20px;
  padding-inline: 35px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-weight: 500;
}
.popular {
  background-color: #ffb400;
}

.review-board {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.rec-arrow {
  display: none;
}
.review-view {
  display: flex;
  gap: 20px;
  margin-right: 10px;
}
.review-card {
  width: 33%;
  padding: 15px;
  background-color: #fff;
  color: #133240;
}

.review-img img {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}
.review {
  font-weight: 500;
  margin-block: 10px;
  margin-bottom: 10px;
}
.review-about {
  font-size: 12px;
  padding-right:10px;
}

.profession {
  color: var(--about);
}

.person-name {
  font-weight: 500;
  margin-block: 10px;
}

.review-person-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.review-star img {
  margin-right: 10px;
}

.education-board {
  margin: 20px;
  background-color: #fff;
  padding: 30px;
}
.education-div1 {
  width: 40%;
}
.education-div2 {
  width: 60%;
}
.text-bold {
  font-weight: 500;
}
.text-gray {
  color: var(--about);
}

.education-div1 div,
.education-div2 div {
  margin-bottom: 15px;
}

.text-small {
  font-size: 14px;
}

.portfolio-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--about);
}
.portfolio-nav div {
  cursor: pointer;
  padding: 5px 15px;
}
.portfolio-nav .active {
  background-color: var(--primary);
  color: white;
}
.portfolio-board {
  margin: 20px;
  width: 100%;
  padding-inline: 100px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: center;
}

.portfolio-board > div {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 30%;
}

.portfolio-board img {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
  border-radius: 5px;
  object-fit: cover;
}
.tint-img {
  position: relative;
}
.tint-img div {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
}
.blog-board {
  margin: 20px;
  width: 100%;
  padding-inline: 80px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow-x: auto;
}

.blog-board-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.blog-board-inner > div {
  width: 32%;
}

.blog-board img {
  width: 100%;
  height: 150px;
  border-radius: 5px 5px 0px 0px;
  object-fit: cover;
}
.blog-content {
  padding: 10px;
}
.blog-link {
  text-align: center;
  margin: 30px;
}
.blog-link a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.vpn-heading {
  font-weight: bold;
}
.vpn-about {
  font-size: 14px;
  color: #b2b2b2;
}

.footer {
  margin-bottom: 0px;
}

.map img {
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
  object-fit: cover;
}
.footer-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-logos img {
  width: 140px;
  height: 140px;
}

.rights {
  background-color: #fff;
  padding-block: 10px;
  margin-top: 30px;
  margin-inline: 80px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
.navbar-collapse.show {
  flex-direction: column;
  align-items: start;
  border-top:1px solid grey;
  margin-top:20px;
  padding-top:10px;
  margin-left:0px;
}
.text-bold {
  font-weight: 500;
}
.text-gray {
  color: var(--about);
}

.text-small {
  font-size: 14px;
}

.contact {
  padding-top: 80px;
  margin: 80px;
  margin-top: 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.contact h1 {
  text-align: center;
}
.contact-inner {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  padding: 60px;
}
.contact-left {
  width: 70%;
}
.contact-get-in {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 20px;
}

.leave-us {
  width: 60%;
  margin-right: 20px;
}

.leave-us-form {
  padding: 20px;
  background-color: #fff;
  margin-block: 20px;
  display: flex;
  flex-direction: column;
  height: 90%;
}
.bg-input {
  margin-bottom: 20px;
  height: 50px;
}
.input-msg {
  height: 120px;
}

.leave-us-form label {
  color: #767676;
  margin-bottom: 10px;
}
.contact-info {
  font-size: 14px;
  font-weight: 500;
}
.right-3 {
  margin-right: 20px;
}

.follow-us {
  display: flex;
  gap: 20px;
  margin-block: 10px;
}
.contact-card-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contact-card {
  background-color: #fff;
  padding: 15px;
  color: #767676;
  width: 30%;
}

.contact-card-img {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.contact-card-img img {
  background-color: #ffb400;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
}
.contact-card-details > div {
  margin-block: 10px;
}
.submit-btn {
  width: 50%;
  border-radius: 5px;
  font-weight: 500;
  color: white;
  background-color: var(--primary);
}
.review-view {
  z-index: 10;
}
.rec-pagination {
  z-index: 10;
  margin-top: 30px;
  margin-bottom: 40px;
}
.testimonials .rec-pagination .rec-dot {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: none;
  width: 16px;
  height: 16px;
}
.blog-board .rec-pagination .rec-dot {
  display: none;
}
.testimonials .rec-pagination .rec-dot_active {
  background-color: rgba(255, 255, 255);
}

.portfolio-card {
  background-color: #fff;
}
.portfolio-card img {
  width: 100%;
  height: 295px;
}
.northeast {
  background-color: var(--primary);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.port-details {
  padding: 15px 20px;
}
.Blog-board {
  display: flex;
  gap: 20px;
}
.learn-more {
  color: #ffb400;
  margin-top: 5px;
  font-size: 600;
  display: flex;
  align-items: center;
}
.learn-more img {
  width: 30px;
  height: 30px;
}
.navbar {
  padding: 15px 120px;
  border-bottom: 1px solid grey;
  z-index: 100;
}
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.navbar-collapse {
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
}
.a-div1 {
  background-color: #f6f4fc;
  padding: 0px 150px 30px 150px;
}
.a-div1 h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.a-div1-inner {
  display: flex;
  gap: 7rem;
}
.experience-count {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.experience {
  font-size: 1.2rem;
}
.about-email {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
}
.about-cards {
  display: flex;
  gap: 30px;
  margin-left: 20%;
  margin-top: -10%;
}
.about-card {
  width: 26%;
  border: 1px solid #d6d6d8;
  padding: 20px;
  border-radius: 15px;
  background-color: white;
}
.about-card.active {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  width: 28%;
}
.a-head-des {
  margin-block: 10px;
}
.a-div2 {
  margin-top: 100px;
}
.a-details {
  text-align: center;
}
.fs-large {
  font-size: 3rem;
}
.fw-500 {
  font-weight: 500;
}
.ui-design {
  font-size: 10px;
  color: var(--about);
  text-align: none;
}
.yellow-box {
  display: flex;
  align-items: center;
  margin-inline: 60px;
}

.yellow-box > div {
  box-shadow: 10px 10px 10px rgba(255, 210, 65, 0.15);
  display: flex;
  border-radius: 15px;
  padding: 10px 20px;
  gap: 20px;
}

.testimonials {
  padding-inline: 80px;
  background-color: #f6f4fc;
  position: relative;
}
.testimonials h1 {
  margin-top: 60px;
  margin-bottom: 10px;
}
.testimonials-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-design-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 20rem;
  left: 20rem;
  background-color: var(--primary);
}
.three-icons {
  z-index: 1;
  margin-bottom: 50px;
}
.left-cursor,
.right-cursor {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}
.design {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.design h1 {
  margin-top: 40px;
  margin-bottom: 10px;
}
.d-cards {
  display: flex;
  margin-inline: 80px;
  gap: 100px;
}
.d-num {
  color: var(--about);
  font-size: 30px;
  font-weight: 500;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.d-num.active {
  color: #f75488;
  background-color: #fddbe6;
  border-radius: 50%;
}
.d-card-about {
  color: var(--about);
}
.footer-div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-brand {
  font-size: 14px;
}
.footer-about {
  width: 50%;
  text-align: center;
  margin-block: 40px;
}
.follow-box {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 10px;
  border-radius: 5px;
}

.footer nav {
  border-top: 1px solid grey;
  margin-inline: 80px;
  padding: 15px 0px 5px 0px;
  background-color: white;
  box-shadow: none;
  margin-top: 30px;
}
.footer-collapse {
  justify-content: flex-end;
}
.navbar-nav {
  gap: 15px;
  font-size: 14px;
}
.heading-highlighter.div {
  margin-bottom: 0px;
}
.got-project {
  font-size: 18px;
  margin-top: 10px;
}
.fs-14 {
  font-size: 14px;
}

.about-card img {
  width: 35px;
  height: 35px;
}
.about-card1 img {
  background-color: rgba(78, 216, 221, 0.2);
  padding: 8px;
  border-radius: 10px;
}
.about-card2 svg {
  background-color: rgba(100, 68, 202, 0.2);
  padding: 8px;
  border-radius: 10px;
}
.about-card3 img {
  background-color: rgba(253, 137, 136, 0.2);
  padding: 8px;
  border-radius: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    padding: 20px 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
  .home-mid {
    width: 100%;
    margin-right: 0px;
  }
  .home-inner {
    flex-direction: column-reverse;
    padding-inline: 20px;
  }
  .h-m-div1 {
    width: 100%;
    padding-inline: 200px;
  }
  .h-follow-me {
    gap: 15px;
  }
  .h-m-div2 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .h-m-div2 img {
    border-radius: 50%;
    height: 450px;
    width: 450px;
  }
  .h-heading {
    font-size: 2rem;
  }
  .h-about {
    width: 100%;
  }
  .about-cards {
    margin-left: 0%;
    margin-top: 20px;
  }
  .about-card {
    padding: 15px;
  }
  .a-div1 {
    padding: 0px 60px 30px 120px;
  }
  .a-div2 {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 50px;
  }
  .a-details {
    flex-direction: row;
  }
  .a-div1-inner {
    flex-direction: column;
    gap: 2rem;
  }
  .a-div1-inner-left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .experience {
    font-size: 2rem;
    font-weight: 500;
  }
  .about-card {
    width: 30%;
  }
  .about-card.text-small {
    font-size: 12px;
  }
  .portfolio-nav {
    justify-content: space-around;
  }
  .portfolio-board {
    padding-inline: 30px;
  }
  .service-board {
    margin-inline: 0px;
  }
  .service-board-left,
  .service-board-right {
    width: 50%;
  }
  .service-board-left img {
    width: 100%;
    height: 100%;
  }
  .service-card {
    margin-bottom: 20px;
  }
  .d-cards {
    gap: 20px;
  }
  .blog-board {
    padding-inline: 60px;
  }
  .blog-link {
    margin: 15px;
  }
  .testimonials {
    padding-right: 20px;
  }
  .review-img img {
    width: 50px;
    height: 50px;
  }
  .review-star > img {
    margin-right: 2px;
  }
  .contact {
    margin: 40px;
    margin-right:20px;
    box-shadow: none;
  }

  .contact-inner {
    padding:0px;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 20px 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
  .home-mid {
    width: 100%;
    margin-right: 0px;
  }
  .home-inner {
    flex-direction: column-reverse;
    padding-inline: 20px;
  }
  .h-m-div1 {
    width: 100%;
    text-align: start;
  }
  .h-follow-me {
    gap: 15px;
  }
  .h-m-div2 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .h-m-div2 img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
  }
  .h-heading {
    font-size: 2rem;
  }
  .h-about {
    width: 100%;
  }
  .a-div1 {
    padding: 10px 10px;
  }
  .into-bg-icons {
    width: 14px;
    height: 14px;
    position: absolute;
  }
  .about-cards {
    margin-left: 0%;
    margin-top: 0%;
    flex-direction: column;
    width: 100%;
  }
  .about-card {
    width: 90%;
    padding: 25px;
    margin:15px;
  }
  .a-head-des {
    padding-bottom: 12px;
    font-size: 18px;
  }
  .a-div2 {
    flex-direction: column;
    margin-top: 50px;
  }
  .yellow-box {
    margin-block: 30px;
    justify-content: center;
  }
  .a-details {
    flex-direction: column;
  }
  .a-details div {
    margin-block: 5px;
  }
  .service-board {
    flex-direction: column;
    margin: 15px;
  }
  .services {
    align-items: normal;
    padding-top: 50px;
  }
  .service-about {
    width: 100%;
    padding: 10px;
  }
  .a-div1-inner-left {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .a-div1-inner {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
  }
  .experience {
    width: 30%;
    font-size: 1.2rem;
  }
  .about-email {
    margin-bottom: 20px;
  }
  .services h1 {
    text-align: center;
  }
  .service-card {
    margin-left: 0px;
    margin-bottom: 20px;
    width: 50%;
  }
  .design {
    padding-top: 50px;
  }
  .testimonials {
    padding-inline: 0px;
  }
  .testimonials h1 {
    margin-bottom: 10px;
  }
  .price-card {
    margin-right: 0px;
    width: 100%;
  }
  .review-board {
    margin: 15px;
    flex-direction: column;
  }
  .review-card {
    width: 100%;
    margin-left: 20px;
  }
  .rec-pagination {
    margin-bottom: 20px;
  }
  .d-cards {
    flex-direction: column;
  }
  .contact {
    margin: 15px;
    box-shadow: none;
    padding-top: 50px;
  }
  .contact-inner {
    flex-direction: column;
    padding: 0px;
  }
  .form-box {
    flex-direction: column;
  }
  .contact-info {
    width: 100%;
    margin-top: 50px;
  }
  .contact-card-div {
    display: flex;
    flex-direction: column;
  }
  .contact-card {
    width: 100%;
    margin-bottom: 20px;
  }
  .leave-us {
    width: 100%;
    margin-right: 0px;
  }
  .portfolio-nav {
    gap: 5px;
    overflow-x: auto;
    font-size: 12px;
    margin-inline: 5px;
    justify-content: space-around;
  }
  .portfolio-nav div {
    padding: 3px;
  }
  .education-board {
    padding: 10px;
    margin: 15px;
  }
  .education-div1 {
    margin-right: 25px;
  }
  .portfolio-board {
    margin: 15px;
    padding-inline: 0px;
  }
  .service-board-left img {
    width: 100%;
  }
  .portfolio-board img {
    width: 100%;
    height: 295px;
    margin: 0px;
    margin-bottom: 15px;
  }
  .tint-img div {
    width: 100%;
    height: 295px;
  }
  .review-view {
    flex-direction: column;
  }
  .testimonial-design-bg {
    top: 30rem;
    left: 5rem;
  }
  .add-profile {
    top: 0;
    left: 0;
    width: 100%;
  }
  .Blog-board {
    margin: 15px;
  }
  .blog-board {
    padding-inline: 0px;
  }
  .blog-board > div {
    flex-direction: column;
  }
  .portfolio-card {
    width: 100%;
    margin: 0px;
    margin-bottom: 15px;
  }
  .portfolio-card img {
    width: 100%;
  }
  .learn-more img {
    width: 30px;
  }
  .submit-btn {
    width: 100%;
  }
  .footer-collapse {
    display: none;
  }
  .about-card.active {
    width: 90%;
  }
  .about-card img {
    width: 50px;
    height: 50px;
    padding-bottom: 10px;
  }
  .about-card > div {
    padding-bottom: 10px;
  }
  .d-cards {
    margin-inline: 20px;
  }
  .blog-board > div {
    margin: 0px;
    padding: 0px;
  }
  .leave-us-form {
    padding: 0px;
  }
  .right-3 {
    margin-right: 0px;
  }
  .mr-1 {
    margin-right: 10px;
  }
  .blog-board-inner {
    flex-direction: column;
    margin-right: 20px;
  }
  .contact-left{
    width:90%;
  }
  .footer nav {
    display: flex;
    justify-content: center;
    margin-inline:20px;
  }
  .footer-about{
    width:90%;
  }
  .portfolio-board > div {
    width: 100%;
  }
  .design {
    display: none;
  }
  .blog-board-inner > div {
    width:100%;
  }
}

@media (max-width: 768px) and (min-width: 768px) {
  .service-board {
    flex-direction: row;
  }
  .a-details {
    flex-direction: row;
  }
  .d-cards {
    flex-direction: row;
  }
}

.tborder {
  border: 1px solid black;
}
