.price-card{
    background-color:#FFF;
    margin-right:20px;
    padding:25px;
    padding-top:60px;
    position:relative;
}
.price-name{
    font-size:1.4rem;
    font-weight:500;
    margin-bottom:10px;
}
.price-about{
    text-align:center;
    color:#767676;
    font-size:14px;
    margin-top:5px;
}
.price-hour{
    font-size:14px;
}

.popular-card{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.price-card-head{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.price-price{
    font-size:1.5rem;
    font-weight:bold;
    margin-right:10px;
}
.price-order-now{
    display:flex;
    justify-content:center;
}
.most-popular{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    background-color:#FFB400;
    text-align:center;
    padding:5px;
}
.order-now-btn{
    border-radius:20px;
    padding-inline:35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-weight:500;
}
.popular{
    background-color:#FFB400;
}
