.contact{
    display:flex;
    margin:30px;
}

.leave-us{
    width:60%;
    margin-right:20px;
}

.leave-us-form{
    padding:20px;
    background-color:#FFF;
    margin-block:20px;
    display: flex;
    flex-direction: column;
    height:90%;
}
.bg-input{
    margin-bottom:20px;
    background-color:#F0F0F6;
}
.input-msg{
    display:flex;
    flex:1;
}

.leave-us-form label{
    color:#767676;
    margin-bottom:10px;
}
.contact-info{
    width:40%;
}

.contact-card{
    background-color:#FFF;
    padding:20px;
    color:#767676;
    margin-block:20px;
}

.contact-card-img{
    display:flex;
    justify-content:center;
    margin-bottom:20px;
}
.contact-card-img img{
    background-color:#FFB400;
    border-radius:50%;
    padding:10px;
    margin:10px;
}
.contact-card-details > div{
    margin-block:10px;
}
.submit-btn{
    width:35%;
    border-radius:0px;
    font-weight:500;
}